<h1>Dashboard</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Department</th>
      <th>Updated</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <strong><%= job.origin %></strong>
          <%= link_to job.title, job.link %>
        </td>
        <td><%= job.department %></td>
        <td><%= job.updated_at.strftime('%b %d @ %I:%M %P') %></td>
        <td>Added <%= time_ago_in_words(job.created_at) %> ago on <%= job.created_at.strftime('%b %d @ %I:%M %P') %></td>
        <td><%= link_to 'Show', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>