<p class="lead"><strong>Workie Workie</strong> is the best place to find and list current jobs postings in Laredo, Texas. We include job postings from the City of Laredo, Laredo Community College and Webb County. Follow us on Twitter <a href="#" target="_blank">@workieworkie</a></p>

<p>Currently listing <%= @jobs.count %> jobs.</p>


<div ng-controller="SearchCtrl">

  <p>
    Search: <input ng-model="query">
  </p>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="job in jobs | filter:query">
        <td>
          <strong>{{job.origin}}</strong>
          {{job.title}}
        </td>
        <td>{{job.created_at}}</td>
        <td><a href="{{job.link}}">Show</a></td>
      </tr>
    </tbody>
</table>
</div>




<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Added</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <strong><%= job.origin %></strong>
          <%= link_to job.title, job.link %>
        </td>
        <td><%= job.created_at.strftime('%b %d') %></td>
        <td><%= link_to 'Show', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
