<div class="container" style="margin-top:10px;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

<%= link_to '&#8592; Back to all jobs'.html_safe, jobs_path %>

<p id="notice"><%= notice %></p>

<h1>
  <%= @job.title %>
</h1>

<small>
  <span class="text-muted">
    Added <%= time_ago_in_words(@job.created_at) %> ago;
    <%= @job.created_at.strftime('%b %d %Y @ %I:%M%P') %>
  </span>
</small>

<!--
<p>
  <%= link_to 'Edit', edit_job_path(@job) %>
</p>
-->

<dl class="dl-horizontal" style="margin:25px 0;">

  <dt>Organization:</dt>
  <dd><%= @job.origin %></dd>

  <dt>Location:</dt>
  <dd><%= @job.city %>, Texas</dd>

  <dt>Department:</dt>
  <dd><%= @job.department %><dd>

  <% if @job.salary.present? %>
    <dt>Salary:</dt>
    <dd><%= @job.salary %></dd>
  <% end %>

</dl>

<p>
  <%= link_to 'Learn more or apply', @job.link, class: 'btn btn-primary' %>
</p>

<small>
  Last checked for updates:
  <%= time_ago_in_words(@job.updated_at) %> ago
    <%= @job.updated_at.strftime('%b %d %Y @ %I:%M%P') %>
</small>

    </div>
  </div>
</div>