<p id="notice"><%= notice %></p>

<h1>
  <%= @job.title %>
  <small><%= @job.origin %></small>
</h1>

<p>
  <strong>Department:</strong>
  <%= @job.department %>
</p>


<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Link:</strong>
  <%= @job.link %>
</p>

<p>
  <strong>Last Updated:</strong>
  <%= @job.updated_at %>
</p>

<p>
	<strong>Added:</strong>
	<%= @job.created_at %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
